
.section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;

    &_face {
        background-image: url('../media/section/face.jpg');
        background-size: cover;
        background-position: center bottom;
    }

    &_health {
        padding-top: 200px;
        padding-bottom: 40px;
        background-image: url('../media/section/health.jpg');
        background-size: 100% auto;
        background-position: center bottom;
    }

    &_warning {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    &_future {
        position: relative;
        z-index: 2;
    }

    &_product {
        position: relative;
        z-index: 1;
    }
}

.section__title {
    font-family: "CodecCold", sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    color: #302e62;
}

@media (max-width: 1310px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;

        &_health {
            padding-top: 0;
            padding-bottom: 25px;
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_health {
            padding-bottom: 10px;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_health {
            padding-bottom: 10px;
        }
    }

    .section__title {
        font-size: 30px;
    }
}
