<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">238 576 человек уже бросили <span>пить при помощи Alkotox.</span> Попробуйте и вы!</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-4.jpg" alt=""></div>
                    <div class="commits__name">Анонимно</div>
                    <div class="commits__description">Стыдно признаваться в таком, поэтому пишу анонимно. Мой родной сын – умный, талантливый парень с одной проблемой, которая все портит – алкоголь. Потерял две работы, жена ушла. Любая проблема решается выпивкой и моментально переходит в запой. Не могла смотреть на это, осмелилась тайком подливать ему Alkotox в еду. Поначалу как будто нехотя пил, потом совсем завязал. Через полгода призналась, что приложила к этому руку. Расплакались вместе, сказал спасибо.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Валерия <span>43 лет</span></div>
                    <div class="commits__description">Муж 5 лет сильно употреблял алкоголь. Бросить сам не мог. Периодически выходил из запоя и мы начинали жить по-человечески. Потом он опять срывался и превращался в чудовище. И самое ужасное, что я тоже стала выпивать от бессилия... И однажды, проснувшись с опухшим лицом от пьянки и с синяком под глазом я решила, что все. Хватит. Не буду рассказывать все, что пробовали, а скажу, что помогло – Alkotox. Он вернул трезвую, счастливую жизнь.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Георгий <span>54 года</span></div>
                    <div class="commits__description">Я раньше очень любил выпить, но постепенно это превратилось в большую проблему. Начал терять контроль и уходить в запои. Вовремя одумался в момент просветления. Понял, что у меня зависимость и справиться только силой воли не получится. Нашел в интернете Alkotox, желание пить пропало за неделю. Боялся, что потом сорвусь. Но прошел уже год, а я до сих пор даже на запах алкоголь не переношу.</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Константин <span>41 год</span></div>
                    <div class="commits__description">Жена снова решила попробовать меня вылечить, после того как увидела в интернете Alkotox. Я пил лет 20 точно! И мог на месяц в запой уйти. Она и раньше пробовала, даже в наркологической клинике лежал, кодировался. Хватало на время, максимум месяца на два. После курса Alkotox уже не пью почти год, выработалось стойкое отвращение к алкоголю.</div>
                </div>
            </div>
        </div>
    </div>
</section>