<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="section__title face__title">Первый шаг к трезвым будням</div>
                <div class="face__subtitle">В этот раз точно получится:</div>
                <div class="face__list">
                    <div class="face__item">избавиться от алкогольной зависимости</div>
                    <div class="face__item">бросить пить без срывов и нервного напряжения</div>
                    <div class="face__item">очистить и восстановить организм</div>
                </div>
                <div class="face__product"></div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>