<section class="section section_future">
    <div class="container">
        <div class="future">
            <div class="section__title future__title">Что ждет в будущем?</div>
            <div class="future__body">
                <div class="future__item">
                    <span>Проблемы со здоровьем и депрессия.</span>
                </div>
                <div class="future__item">
                    <span>Потеря семьи, друзей и работы.</span>
                </div>
                <div class="future__item">
                    <span>Деградация личности.</span>
                </div>
                <div class="future__item">
                    <span>Агрессия, аморальное поведение, навязчивые идеи.</span>
                </div>
            </div>
        </div>
    </div>
</section>