<section class="section section_health">
    <div class="health">
        <div class="section__title health__title">У каждого алкоголика <span>на дне бокала здоровье.</span> <mark>Свое и близких.</mark> </div>
        <div class="health__product"><img src="../media/product-cub.png" alt=""></div>
    </div>
</section>