<section class="section section_health">
    <div class="health">
        <div class="health__box"></div>
        <div class="health__box">
            <div class="section__title health__title">У каждого алкоголика на дне бокала здоровье. <mark><span>Свое</span> и близких.</mark> </div>
        </div>
    </div>
</section>