
<div class="important">
    <div class="important__title">ПОЖАЛУЙСТА, ОБРАТИТЕ ВНИМАНИЕ!</div>
    <div class="important__description">Количество упаковок с Alkotox, необходимое для желаемого результата, определяется индивидуально и в отдельных случаях может увеличиться.</div>
</div>