<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__body">
                <!-- <div class="info__sert"><img src="../media/info/sert.jpg" alt=""></div> -->
                <div class="info__box">
                    <div class="section__title info__title">Остерегайтесь подделок!</div>
                    <div class="info__description">В связи с огромной популярностью Alcotox, стали появляться фальсифицированные образцы. Оригинальный  препарат Alcotox можно приобрести только на этом сайте.</div>
                </div>
                <div class="info__product"><iframe src="3d.html?autorotate&no_social" title="3d.html"></iframe></div>
            </div>
            <%- include('important') %>
        </div>
    </div>
</section>
