<section class="section section_instruction">
    <div class="container">
        <div class="instruction">
            <div class="section__title instruction__title">Чтобы полностью избавиться от зависимости достаточно:</div>
            <div class="instruction__body">
                <div class="instruction__item">
                    <div class="instruction__media"><img src="../media/instruction/phantom.jpg" alt=""></div>
                    <div class="instruction__description">принимать по 20 капель</div>
                </div>
                <div class="instruction__item">
                    <div class="instruction__media"><img src="../media/instruction/phantom.jpg" alt=""></div>
                    <div class="instruction__description">1-2 раза в день во время или после еды</div>
                </div>
                <div class="instruction__item">
                    <div class="instruction__media">
                        <img src="../media/instruction/phantom.jpg" alt="">
                        <img src="../media/instruction/phantom3.jpg" alt="">
                    </div>
                    <div class="instruction__description">один курс приема – 30 дней</div>
                </div>
            </div>
        </div>
    </div>
</section>