<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="section__title job__title">Как мы работаем?</div>
            <div class="job__body">
                <div class="job__item">
                    <div class="job__media"><img src="../media/job/img-1.jpg" alt=""></div>
                    <div class="job__info">
                        <div class="job__subtitle">1.</div>
                        <div class="job__description">Оставьте заявку на нашем сайте, заполнив форму заказа</div>
                    </div>
                </div>
                <div class="job__item">
                    <div class="job__media"><img src="../media/job/img-2.jpg" alt=""></div>
                    <div class="job__info">
                        <div class="job__subtitle">2.</div>
                        <div class="job__description">Наш специалист перезвонит вам и оформит заказ</div>
                    </div>
                </div>
                <div class="job__item">
                    <div class="job__media"><img src="../media/job/img-3.jpg" alt=""></div>
                    <div class="job__info">
                        <div class="job__subtitle">3.</div>
                        <div class="job__description">Вы получите заказ удобным для вас способом</div>
                    </div>
                </div>
                <div class="job__item">
                    <div class="job__media"><img src="../media/job/img-4.jpg" alt=""></div>
                    <div class="job__info">
                        <div class="job__subtitle">4.</div>
                        <div class="job__description">Оплатите заказ по предоплате или при получении заказа</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
