<section class="section section_list">
    <div class="container">
        <div class="list">
            <div class="section__title list__title">Бросить легче, чем кажется</div>
            <div class="list__body">
                <div class="list__item">
                    <div class="list__media"><img src="../media/list/icon-1.png" alt=""></div>
                    <div class="list__description">Вызывает <span>отвращение</span> к алкоголю</div>
                </div>
                <div class="list__item">
                    <div class="list__media"><img src="../media/list/icon-2.png" alt=""></div>
                    <div class="list__description">Содержит аминокислоты, которые блокируют в рецепторах мозга желание выпить</div>
                </div>
                <div class="list__item">
                    <div class="list__media"><img src="../media/list/icon-3.png" alt=""></div>
                    <div class="list__description">Успокаивает нервную систему, улучшает настроение и мозговую активность</div>
                </div>
                <div class="list__item">
                    <div class="list__media"><img src="../media/list/icon-4.png" alt=""></div>
                    <div class="list__description">Очищает организм <span>от последствий</span> приема спиртного</div>
                </div>
            </div>
        </div>
    </div>
</section>