<section class="section section_product">
    <div class="container">
        <div class="product">
            <div class="product__box">
                <div class="productAnimate">
                    <div class="productAnimate__body">
                        <div class="productAnimate__media">
                            <img src="../media/productAnimate/product.png" alt="">
                        </div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-1.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-2.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-3.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-4.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-5.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-6.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-7.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-8.png" alt=""></div>
                        <div class="productAnimate__item"><img src="../media/productAnimate/list-9.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="product__box">
                <div class="section__title product__title">Еще не поздно!</div>
                <div class="product__subtitle">Alkotox повернет вашу жизнь в лучшую сторону </div>
                <div class="product__description">
                    <p>Главное отличие Alkotox от других средств – в запатентованной технологии, которая содержит изолированные молекулы растений и минералов. При создании нужную молекулу изолируют из ингредиентов, чтобы она была биологически активна и легко усваивалась организмом. Именно такой способ обеспечивает более быстрое очищение и восстановление после воздействия спиртных напитков.</p>
                    <p>Созданная формула положительно воздействует на нервную систему в целом, снимает зависимость.</p>
                </div>
                <div class="product__subtitle">Как Alkotox помогает победить зависимость? </div>
                <div class="product__list">
                    <div class="product__item">
                        <div class="product__media">
                            <span>Плоды китайского лимонника</span>
                        </div>
                        <div class="product__item-title">Нейтрализует тягу к алкоголю</div>
                        <div class="product__item-description">Снимает похмельный синдром и провоцирует стойкое отвращение к алкоголю. Нормализует работу нервной системы, снимает психическое напряжение, улучшает память, координацию и концентрацию внимания.</div>
                    </div>
                    <div class="product__item">
                        <div class="product__media">
                            <span>Корень солодки</span>
                        </div>
                        <div class="product__item-title">Очищает и восстанавливает организм</div>
                        <div class="product__item-description">Нейтрализует яды и токсины в организме, помогает ему быстрее восстановиться после длительного приема алкоголя. Очищает кровь, помогает внутренним органам вернуться в здоровое состояние.</div>
                    </div>
                    <div class="product__item">
                        <div class="product__media">
                            <span>Экстракт одуванчика</span>
                        </div>
                        <div class="product__item-title">Закрепляет результат</div>
                        <div class="product__item-description">Вызывает стойкое неприятие спиртного, не дает развиваться синдрому абстиненции, борется с подавленным состоянием и улучшает настроение.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>