<section class="section section_professionals">
    <div class="container">
        <div class="professionals">
            <div class="professionals__info">
                <div class="section__title professionals__title">Экспертное мнение:</div>
                <div class="professionals__description">
                    <p>В своей практике я долгие годы искал средство, которое бы полностью избавляло от алкогольной зависимости. Alcotox помогает не только бросить пить, но и избавляет от многолетних последствий отравления организма. </p>
                    <p>Активные компоненты средства расщепляют и выводят яды, токсины и канцерогены. Уже по истечению нескольких дней после приема, начинает очищаться кровь и клетки насыщаются кислородом. Проходят тяга к алкоголю, депрессивное состояние, головные боли, поднимется иммунитет, восстановится работа сердца и мозговая активность.</p>
                </div>
                <div class="professionals__footer">
                    <div class="professionals__name"><mark>Гринин Владимир Николаевич, </mark><span>врач-нарколог</span></div>
                    <div class="professionals__id"><img src="../media/professionals/id.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>