<section class="section section_result">
    <div class="container">
        <div class="result">
            <div class="section__title result__title">Когда будет заметен результат?</div>
            <div class="result__body">
                <div class="result__item">
                    <div class="result__media"><img src="../media/result/img-1.jpg" alt=""></div>
                    <div class="result__info">
                        <div class="result__subtitle">1-5 день приема</div>
                        <div class="result__description">Вас перестает тянуть к алкоголю. При этом не испытываете физического дискомфорта и нервозности.</div>
                    </div>
                </div>
                <div class="result__item">
                    <div class="result__media"><img src="../media/result/img-2.jpg" alt=""></div>
                    <div class="result__info">
                        <div class="result__subtitle">5-15 день приема</div>
                        <div class="result__description">Внутренние органы и кровь начинают очищаться от ядов и токсинов, накопившихся в ходе длительного употребления алкоголя.</div>
                    </div>
                </div>
                <div class="result__item">
                    <div class="result__media"><img src="../media/result/img-3.jpg" alt=""></div>
                    <div class="result__info">
                        <div class="result__subtitle">15-30 день приема</div>
                        <div class="result__description">Ваш организм обновляется, и вы продолжаете чувствовать отвращение и безразличие к спиртным напиткам. Улучшается настроение за счет естественной выработки гормона радости.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>