<section class="section section_warning">
    <div class="warning">
        <div class="warning__item">
            <div class="warning__info">
                <div class="warning__box">
                    <div class="warning__subtitle">Нормы не существует</div>
                    <div class="warning__description">Алкоголь создает иллюзию хорошего настроения и расслабленности. Со временем зависимость увеличивается из-за разрушения нейронных связей. Без алкоголя такой человек чувствуется себя подавленно и склонен к депрессии.</div>
                </div>
            </div>
            <div class="warning__media"></div>
        </div>
        <div class="warning__item warning__item_reverse">
            <div class="warning__media"></div>
            <div class="warning__info warning__info_color">
                <div class="warning__box warning__box_right">
                    <div class="warning__subtitle warning__subtitle_size">Ежегодно от алкоголизма умирает более 5 миллионов человек</div>
                    <div class="warning__description">За сухой статистикой миллионы человеческих судеб, разрушенных семей и потерянных надежд. <br> Боль, слезы, одиночество и ощущение безысходности – постоянные спутники каждой семьи, где есть пьющий человек.</div>
                </div>
            </div>
        </div>
    </div>
</section>