
.productAnimate {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.productAnimate__body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productAnimate__media {
    position: sticky;
    top: -600px;
    bottom: 0;
    z-index: 10;
    margin-top: -600px;
}

.productAnimate__item {
    position: absolute;

    &:nth-child(2) {
        top: 0;
        right: 8%;
    }

    &:nth-child(3) {
        top: 8%;
        right: 82%;
    }

    &:nth-child(4) {
        top: 22%;
        right: 19%;
    }

    &:nth-child(5) {
        top: 22%;
        right: 80%;
    }

    &:nth-child(6) {
        top: 39%;
        right: 49%;
    }

    &:nth-child(7) {
        top: 46%;
        right: 20%;
        z-index: 11;
    }

    &:nth-child(8) {
        top: 50%;
        left: 0;
    }

    &:nth-child(9) {
        top: 81%;
        right: 36%;
    }

    &:nth-child(10) {
        top: 95%;
        right: 9%;
    }
}

@media (max-width: 1310px) {
    .productAnimate__media {
        top: -400px;
        max-width: 400px;
        margin-top: -400px;
    }

    .productAnimate__item {
        &:nth-child(7) {
            max-width: 170px;
        }

        &:nth-child(8) {
            max-width: 170px;
        }
    }
}

@media (max-width: 768px) {
    .productAnimate {
        position: static;
        width: 100%;
    }

    .productAnimate__media {
        position: static;
    }

    .productAnimate__body {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    .productAnimate__item {
        &:nth-child(3) {
            top: 20%;
            right: 82%;
        }

        &:nth-child(4) {
            top: 41%;
            right: 0;
        }

        &:nth-child(5) {
            top: 50%;
            right: 80%;
        }

        &:nth-child(6) {
            top: 80%;
            right: 56%;
            max-width: 100px;
        }

        &:nth-child(7) {
            display: none;
        }

        &:nth-child(8) {
            display: none;
        }

        &:nth-child(9) {
            display: none;
        }

        &:nth-child(10) {
            display: none;
        }
    }
}
